<!DOCTYPE html>
<html>
    <head>
        <title>Dealership</title>
    </head>
    <body>
        <h3>Dealership</h3>
        <div th:if="${budget >= 5000}" th:switch="${make}">
            <h3 th:case="'Toyota'"> Toyota Corolla: $ 5,000</h3>
            <h3 th:case="'Volkswagen'"> Volkswagen Jetta: $6,000</h3>
            <h3 th:case="'Ford'"> Ford Escape: $7,000</h3>
            <h3 th:case="'Honda'"> Honda Civic: $8,000</h3>
            <h3 th:case="'*'"> No cars match your query</h3>
        </div>
        <div th:unless="${budget >= 5000}">
            <h3>Sorry, we don't have any cars below $ 5,000</h3>
        </div>
    </body>
</html>